.chat_main
  .main-heder
    .main-heder__left-box 
      .main-heder__left-box__current-group 
        = @group.name
      .main-heder__left-box__menber-list 
        Member：
        - @group.users.each do |user|
          = user.name

    = link_to 'Edit', edit_group_path(@group), class: 'main-heder__edit-btn'
     
  .masseges
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .new_massege
        .input-box
          =f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          =f.label :image, class: 'input-box__image' do
            = f.file_field :image, class: 'input-box__image__file'
            = icon('fas', 'image', class: 'fa-image')
        = f.submit 'Send', class: 'submit-btn'