.chat-side
  .side-heder
    .top-items
      .top-items__name 
        = current_user.name
      .top-items__icon 
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups
    -current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name 
            = group.name
          .group__massege 
            = group.show_last_message